th.project-table-th{
    cursor: pointer;
}

td.description-cell {
    max-width: 300px;
    white-space: normal;
    word-break: break-word;
}

.shadow-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow-card{
    transition: box-shadow 0.3s ease-in-out;
}

td.name-cell {
    max-width: 200px;
    white-space: normal;
    word-break: break-word;
}

.grdbtn{
    background:linear-gradient(135deg,rgb(255,56,92) 20%,rgb(189,30,89));
    border-radius:10px;
    border: none    ;
    padding: 15px;
    color:white;
    text-align: center;
}

.bfsdftn{
    background:linear-gradient(135deg, rgb(106, 159, 250) 20%, rgb(35, 126, 231));
    border:none!important;
    color:white!important;
}

.backBtn{
    all: unset;
}

.backBtn:hover{
    text-decoration: underline;
}