
th.project-table-th{
    cursor: pointer;
}


.shadow-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow-card{
    transition: box-shadow 0.3s ease-in-out;
}



.grdbtn{
    background:linear-gradient(135deg,rgb(255,56,92) 20%,rgb(189,30,89));
    border-radius:10px;
    border: none    ;
    padding: 15px;
    color:white;
    text-align: center;
}

.bfsdftn{
    background:linear-gradient(135deg, rgb(106, 159, 250) 20%, rgb(35, 126, 231));
    border:none!important;
    color:white!important;
}

.backBtn{
    all: unset;
}

.backBtn:hover{
    text-decoration: underline;
}


.create-btn{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background:linear-gradient(135deg,rgb(255,56,92) 20%,rgb(189,30,89));   
    cursor: pointer;
}

.create-btn a{
    all: unset;
}

.hamburgerMenu{
    all:unset;
}

header{
    background:linear-gradient(135deg,rgb(255,56,92) 20%,rgb(189,30,89));
}


.gradBtn{
    background:linear-gradient(135deg,rgb(255,56,92) 20%,rgb(189,30,89));
    border-radius:10px;
    border: none;
    padding: 10px;
    color:white;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.gradBtn:hover{
    background:linear-gradient(135deg,rgb(243, 70, 102) 20%,rgb(136, 2, 51));
}
