th.project-table-th{
    cursor: pointer;
}

td.description-cell {
    max-width: 300px;
    white-space: normal;
    word-break: break-word;
}

.shadow-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shadow-card{
    transition: box-shadow 0.3s ease-in-out;
}

td.name-cell {
    max-width: 200px;
    white-space: normal;
    word-break: break-word;
}
